# Ashish Kumar

## Assignement -3

### Q1 Convert a List to a Tuple and Then to a Set

In [ ]:
my_list=["ashish",20,8.5]
print(type(my_list))
my_tuple=tuple(my_list)
print(type(my_tuple))
my_set=set(my_tuple)
print(type(my_set))

<class 'list'>
<class 'tuple'>
<class 'set'>

### Q2 Find Common Elements Between List and Tuple Using a Set

In [ ]:
my_list = ["ashish", 20, 38.5,"m", 67]
my_tuple = ("ak",20,"ashish", 67, 6, 7)
set_list = set(my_list)
set_tuple = set(my_tuple)
common_elements = set_list & set_tuple

print("Common Elements:", common_elements)

Common Elements: {'ashish', 67, 20}

### Q3. Remove Duplicates from a List Using a Set and Convert Back to a List

In [ ]:
my_list=[1,4,5,4,4,5,4,5,4,5,4,6,7,8,9]
my_set=set(my_list)

unique_list=list(my_set)
print(unique_list)

[1, 4, 5, 6, 7, 8, 9]

### Q4 Find Elements in a Tuple That Are Not in a List Using a Set

In [ ]:
my_list=[1,2,3,4,5,64,7,8,3]
my_tuple=(1,2,3,4,5,6,12,3,4,56,6,77,88,7,8,4,5,6,7)
list_set=set(my_list)
tuple_set=set(my_tuple)
result=tuple_set - list_set
result_list=list(result)
print(result_list)

[6, 12, 77, 56, 88]

### Q5. Convert a String to a List, Then a Tuple, and Finally a Set

In [ ]:
my_string = "Ashish kumar"
my_list = list(my_string)
print("List:", my_list)
my_tuple = tuple(my_list)
print("Tuple:", my_tuple)
my_set = set(my_tuple)
print("Set:", my_set)

List: ['A', 's', 'h', 'i', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r']
Tuple: ('A', 's', 'h', 'i', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r')
Set: {'r', ' ', 'A', 'h', 'u', 'm', 'a', 'i', 's', 'k'}

### Q6 Merge Two Lists, convert to a Set to Remove Duplicates, and Convert Back to a List

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

merged_list = list1 + list2
merged_set = set(merged_list)

result_list = list(merged_set)

print("Merged List:", merged_list)

print("Final List:", result_list)

Merged List: [1, 2, 3, 4, 5, 4, 5, 6, 7, 8]
Final List: [1, 2, 3, 4, 5, 6, 7, 8]

### Q7 Create a List of Tuples from Two Lists

In [1]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']

result = []
for i in range(len(list1)):
    result.append((list1[i], list2[i]))

print(result)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

### Q8 Extract Unique Words from a Sentence Using Sets and Store in a List

In [4]:
sentence="ashish ashish kumar ashish"
words=sentence.split()
my_set=set(words)
unique_list=list(my_set)
print(unique_list)

['ashish', 'kumar']

### Q9 Find the Union and Intersection of Two Lists Using Sets

In [6]:
list_1=[1,2,3,4,5,6,7,2,23,24,45,19]
list_2=[1,2,4,5,7,9,34,23,19]
set_1=set(list_1) 
set_2=set(list_2)
union_set=set_1|set_2
inter_set=set_1&set_2
union_list=union_set
inter_list=inter_set
print("union of lists=",union_list)
print("intersection of lists=",inter_list)

union of lists= {1, 2, 3, 4, 5, 6, 7, 9, 19, 23, 24, 34, 45}
intersection of lists= {1, 2, 4, 5, 7, 19, 23}

### Q10. Sort a List, convert to a Tuple, and Find Unique Elements Using a Set

In [14]:
my_list=[1,4,5,2,7,3,9,4,5,1,23,54,53,12]
sorted_list=sorted(my_list)
my_tuple=tuple(sorted_list)
unique_tuple=set(my_tuple)
unique_list=list(unique_tuple)
unique_sorted_list=sorted(unique_list)
print("unique sorted list=",unique_sorted_list)

unique sorted list= [1, 2, 3, 4, 5, 7, 9, 12, 23, 53, 54]

### Q11. Sort a List of Tuples Based on the Second Element and Remove Duplicates

In [5]:
my_list = [(1, 3), (2, 1), (3, 2), (4, 1), (2, 1), (5, 4)]

unique_list = list(set(my_list))

sorted_list = sorted(unique_list, key=lambda x: x[1])

print("Sorted and unique list:", sorted_list)

Sorted and unique list: [(2, 1), (4, 1), (3, 2), (1, 3), (5, 4)]

### Q12. Merge Two Lists, Keep Unique Elements, and Convert to a Tuple

In [18]:
list_1=[1,2,3,4,5,6,7,2,23,24,45,19]
list_2=[1,2,4,7,9,34,23,19]
merge_list=(list_1+list_2)
unique_set=set(merge_list)
my_tuple=tuple(unique_set)
print("unique elements of 2 lists =",my_tuple)
print(type(my_tuple))

unique elements of 2 lists = (1, 2, 3, 4, 5, 6, 7, 34, 9, 45, 19, 23, 24)
<class 'tuple'>

### Q13. Extract Unique Characters from a String and Store Them in a Set

In [19]:
my_string="i am learning python"
unique_char=set(my_string)
print("unque characters of string=",unique_char)
print(type(unique_char))

unque characters of string= {'i', 'y', 'l', 'm', 'g', 't', 'e', 'o', 'a', ' ', 'r', 'n', 'p', 'h'}
<class 'set'>

### Q14. Count Vowels and Consonants in a String

In [20]:
my_string = "I am writing python code in jupyter"
vowels = "aeiouAEIOU"
vowel_count = 0
consonant_count = 0

for char in my_string:
    if char.isalpha():  
        if char in vowels:
            vowel_count += 1
        else:
            consonant_count += 1

print("Vowels:", vowel_count)
print("Consonants:", consonant_count)

Vowels: 10
Consonants: 19

### Q15. Find the Longest Word in a Tuple of Words

In [21]:
words_tuple = ("apple", "banana", "cherry", "blueberry", "kiwi")
longest_word = max(words_tuple, key=len)

print("Longest word:", longest_word)

Longest word: blueberry

### Q16. Find Common Characters in Two Strings

In [22]:
string_1 = "my name is ashish"
string_2 = "i am learning python"
common_chars = set(string_1) & set(string_2)

print("Common characters:", common_chars)

Common characters: {'y', 'i', 'm', 'e', ' ', 'a', 'n', 'h'}

### Q17. Find the Frequency of Each Word in a Tuple of Sentences

In [1]:
sentences_tuple = ("hello world", "hello there", "world of python", "python world")

word_count = {}

for sentence in sentences_tuple:
    words = sentence.split()
    for word in words:
        word_count[word] = word_count.get(word, 0) + 1

print("Word frequency:", word_count)

Word frequency: {'hello': 2, 'world': 3, 'there': 1, 'of': 1, 'python': 2}

### Q18. Check if a Tuple Contains a Specific Word

In [2]:
my_tuple = ("apple", "banana", "cherry", "orange")

word = "banana"
if word in my_tuple:
    print(f"The word '{word}' is in the tuple.")
else:
    print(f"The word '{word}' is not in the tuple.")

The word 'banana' is in the tuple.

### Q19. Find Elements in One Set but Not in Another

In [3]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}
difference = set1 - set2

print(f"Elements in set1 but not in set2: {difference}")

Elements in set1 but not in set2: {1, 2, 3}

### Q20. Reverse a Tuple Using a For Loop

In [4]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = ()

for element in my_tuple[::-1]:  
    reversed_tuple += (element,)  

print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: (5, 4, 3, 2, 1)