## Ashish kumar (Assignnment 1)

#### Q1 Write a Python program to declare variables of different data types (int, float, string,bool) and print their values.

In [1]:
int1 = 10
float1 = 5.5
string1 = "Hello, Python!"
bool1 = True
print(int1, float1, string1, bool1)

10 5.5 Hello, Python! True

#### Q2. Take user input for name, age, and height, then print them with appropriate labels.

In [3]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height in cm: "))
print("name is " ,name,"age is : ",age , "height is : ",height)

Enter your name:  ashish
Enter your age:  19
Enter your height in cm:  5.3

name is  ashish age is :  19 height is :  5.3

#### 3. Assign a float value to a variable and convert it into an integer. Print both values.

In [5]:
float1 = 45.78
int1 = int(float1)
print("Float:", float1, "Integer:", int1)

Float: 45.78 Integer: 45

#### 4.Swap two numbers without using a third variable.

In [7]:
a, b = 5, 10
a, b = b, a
print("After swapping: a =", a, "b =", b)

After swapping: a = 10 b = 5

#### 5. Check the data type of a given variable and print the result.

In [9]:
var = 123.45
print("Type of var:", type(var))

Type of var: <class 'float'>

#### 6. Convert a string "123" into an integer and add 10 to it.

In [11]:
num = int("123")
print("Result:", num + 10)

Result: 133

#### 7. Convert a float 45.67 into an integer and a string. Print all three versions.

In [13]:
float1 = 56.3
int1= int(float1)
str1 = str(float1)
print("Integer:", int1, "String:", str1)

Integer: 56 String: 56.3

#### 8. Take user input as a string and convert it into an integer, handling possible errors.

In [23]:
 string1 = input("Enter a number: ")
int1 =  int(string1)
print("Converted number:", int1 ," is of type ", type(int1))

Enter a number:  124

Converted number: 124  is of type  <class 'int'>

#### 9. Convert a list [1, 2, 3, 4] into a tuple and print it.

In [25]:
List = [1, 2, 3, 4]
Tuple = tuple(List)
print(Tuple)

(1, 2, 3, 4)

#### 10. Convert a boolean value True into an integer and a string.

In [29]:
bool1 = True
print("Integer:", int(bool1), "String:", str(bool1))

Integer: 1 String: True

#### 11. Write a program to compare two numbers and print whether they are equal, greater, or smaller.

In [31]:
a, b = 15, 20
if a > b:
    print("a is greater")
elif a < b:
    print("b is greater")
else:
    print("Both are equal")

b is greater

#### 12. Take three numbers as input and find the largest among them using comparison operators.

In [33]:
n1 = float(input("enter 1st number : "))
n2 = float(input("enter 2nd number : "))
n3 = float(input("enter 3rd number : "))

if(n1>n2 and n1>n3):
    print(n1, "is greatest")
elif(n1<n2 and n3<n2):
    print(n2 ,"is greatest")
elif(n3>n1 and n3>n2):
    print(n3 ,"is greatest")
else:
    print("All are equal")

enter 1st number :  45
enter 2nd number :  1
enter 3rd number :  20

45.0 is greatest

#### 13. Use logical operators (and, or, not) to check whether a given number is positive and even.

In [37]:
num = int(input("Enter a number: "))
if num > 0 and num % 2 == 0:
    print("Positive and even")
else:
    print("Not positive or not even")

Enter a number:  456

Positive and even

#### 14. Create a list with 5 elements and perform the following operations:
a) Print the first and last element.
b) Append a new element to the list.
c) Remove the second element.
d) Sort the list.

In [41]:
List1 = [10, 20, 30, 40, 50]
print("First:", List1[0], "Last:", List1[-1])
List1.append(60)
List1.pop(1)
List1.sort()
print("New list:", List1)

First: 10 Last: 50
New list: [10, 30, 40, 50, 60]

#### 15. Create a list of 10 numbers and find the sum of all elements using a loop.

In [45]:
List1 =[45,12,485,65,645,12,45,978]


i = 0
sum = 0
for i in List1:
    sum = sum + i
   

print("sum of all elements of the list is : ",sum)

sum of all elements of the list is :  2287

#### 16. Write a program to check if a given element exists in a list or not.

In [47]:
List1 = [10, 20, 30, 40]
search = 20
print("Exists" if search in List1 else "Does not exist")

Exists

#### 17. Take a list of numbers and print only the even numbers.

In [51]:
List1 = [90,15,645,35,41,43,
        32,215,6125,56]

even_numbers = [num for num in List1 if num % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [90, 32, 56]

#### 18. Reverse a given list without using the built-in reverse() method.

In [57]:
List1 =[1,5,4,12,65,45,15]
print("Before reversing : ",List1)
reversed = []
for i in List1:
    reversed.insert(0, i)
print("After reversing : ",reversed)

Before reversing :  [1, 5, 4, 12, 65, 45, 15]
After reversing :  [15, 45, 65, 12, 4, 5, 1]

#### 19. Create a list of 5 numbers. Print the first and last elements using indexing.

In [59]:
list1 = [23,54,5,87,78]
print("First elemeent is : ",list1[0])
print("last elemeent is : ",list1[-1])

First elemeent is :  23
last elemeent is :  78

#### 20. Take a list of numbers and check if a specific number (user input) exists in the list.

In [63]:
num1 = [5, 10, 15, 20]
n = int(input("Enter a number: "))
print("Exists" if n in num1 else "Does not exist")

Enter a number:  15

Exists

#### 21. Append a new element to a list, then remove an existing element from the same list.

In [65]:
num1 = [5, 10, 15, 20]
num1.append(25)
num1.remove(10)
print("new  list:", num1)

new  list: [5, 15, 20, 25]

#### 22. Take a list of 10 numbers and print only the even numbers using a loop.

In [67]:
List1 = [90,15,645,35,41,43,
        32,215,6125,56]

even_numbers = [num for num in List1 if num % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [90, 32, 56]

#### 23. Reverse a given list without using the reverse() method.

In [69]:
List1 =[1,5,4,12,65,45,15]
print("Before reversing : ",List1)
reversed = []
for i in List1:
    reversed.insert(0, i)
print("After reversing : ",reversed)

Before reversing :  [1, 5, 4, 12, 65, 45, 15]
After reversing :  [15, 45, 65, 12, 4, 5, 1]

#### 24. Write a program to check if a list is empty or not.

In [71]:
list1 = []


print("List is empty" if not list1 else "List is not empty")

List is empty

#### 25. Take a list of numbers and find the largest number using if-else.

In [73]:
num_list =[1,3,4,546,67,687,8678]
largest = num_list[0]
for num in num_list:
    if num > largest:
        largest = num
print("Largest number:", largest)

Largest number: 8678

#### 26. Check if a given list contains only positive numbers or not.

In [79]:
list1 = [12,45,34,65,76,-12,32,342,3,0,21]


onlypositive = 1;
i=0

for i in list1:
    if i < 0:
        onlypositive = 0;
  

if onlypositive == 1:
    print("list only contains positive elements")
elif onlypositive ==0:
    print("list also contain negative element")

list also contain negative element

#### 27. Create a list of 5 integers. If the sum of the numbers is greater than 50, print "High",otherwise print "Low".

In [87]:
list1 = [1,2,3,6,4]

sum = 0
i=0

for i in list1:
    sum = sum + int(i)
  

if (sum > 50):
    print("HIGH")
else:
    print("LOW")

LOW

#### 28. Write a program to take a list of numbers and categorize them as positive, negative, or zero using if-elif-else.

In [91]:
list1 = [12,-23,0,-234,4323]
positive, negative, zero = [], [], []
for num in list1:
    if num > 0:
        positive.append(num)
    elif num < 0:
        negative.append(num)
    else:
        zero.append(num)
print("Positive:", positive, "Negative:", negative, "Zero:", zero)

Positive: [12, 4323] Negative: [-23, -234] Zero: [0]

#### 29. Find the second largest number in a given list.

In [95]:
list1 = [12,3,24,4576,8,79,8987]
length = len(list1)
L = 0
SL = 0

i = 0
while i< length:
    if int(list1[i])> L :
        L = int(list1[i])
    i+=1



j =0
while j< length:
    if int(list1[j])> SL and int(list1[j])< L  :
        SL = int(list1[j])
    j+=1

print(" second largest element of list is : ",SL)

 second largest element of list is :  4576

#### 30. Take a list of numbers and replace all negative numbers with zero.

In [125]:
list1 = [1, 2, 3, 4, 334, 4567, 76, 8, -23, 24, 4, 234]

for i in range(len(list1)):  
    if list1[i] < 0:  
        list1[i] = 0 

print("New list:", list1)

New list: [1, 2, 3, 4, 334, 4567, 76, 8, 0, 24, 4, 234]

#### 31. Create a list of words and check if a specific word (user input) exists in the list.

In [133]:
list1 = ['ashish','kumar','lion','house']

target = input("Enter word you want to search: ")

i =0
exists = 0
for name in list1:
    if(name == target ):
        print("exists")
        exists = 1
    

if(exists == 0):
    print(target, " not exists in the list ")

Enter word you want to search:  lion

exists

#### 32. Count how many times a specific number appears in a list.

In [131]:
list1  = [12,34,54,56,76,8,9,6,7,7,766,7,6,7,6,76]

target = 7

count = 0
i =0

for i in list1:
    if i == target:
         count = count + 1
 


print(target," appears ", count," times in the list")

7  appears  4  times in the list

#### 33. Take two lists and check if they have any common elements.

In [127]:
list1  = [23,34,354,76,8,76,98,987,657,1,2,3,455,32]


list2  = [23,34,354,1,8,432,45355,32]

i = 0

common = []

while i < len(list1):
    j=0
    while j<len(list2):
        if list1[i] == list2[j]:
            print(list1[i]," is common in both lists")
            common.append(list1[i])
        j+=1
    i+=1
print("common elements are : ",common)

23  is common in both lists
34  is common in both lists
354  is common in both lists
8  is common in both lists
1  is common in both lists
32  is common in both lists
common elements are :  [23, 34, 354, 8, 1, 32]

#### 34. Write a program to merge two lists and remove duplicates.

In [119]:
list1  = [324,12,32,45,87,3,6,76,7]


list2  = [12,32,45,65,87,87,68,7,674,2,56,76,67]
merged = list1 + list2

i = 0
while i < len(merged):
    j= i+1
    while j<len(merged):
        if merged[i] == merged[j]:
            merged.pop(j)
           
        j+=1
    i+=1

print("The final merged list after eliminating duplicates: ",merged)

The final merged list after eliminating duplicates:  [324, 12, 32, 45, 87, 3, 6, 76, 7, 65, 87, 68, 674, 2, 56, 67]

#### 35. Sort a list in ascending order but place all odd numbers before even numbers.

In [113]:
list1  = [32,4,3645,768,87,4,23,2,3423,5476,876,9,544,3]

even =[]
odd = []

i =0

for i in list1:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
  

even.sort()
odd.sort()
finalList = odd + even

print("sorted list is : ", finalList)

sorted list is :  [3, 9, 23, 87, 3423, 3645, 2, 4, 4, 32, 544, 768, 876, 5476]

#### 36. Create a list of studentsâ€™ marks. If a mark is greater than 90, print "Excellent", ifbetween 60-89 print "Good", otherwise print "Needs Improvement".

In [105]:
list1  = [1,23,54,67,76,89,98,12,43,5,34]

i = 0
for i in list1:
    if i > 90 :
        print(i," : Excellent")
    elif i > 60 and i < 89 :
        print(i," : Good")
    else:
        print(i," : Needs improvement")

1  : Needs improvement
23  : Needs improvement
54  : Needs improvement
67  : Good
76  : Good
89  : Needs improvement
98  : Excellent
12  : Needs improvement
43  : Needs improvement
5  : Needs improvement
34  : Needs improvement

#### 37. Write a program to check if a list is a palindrome (reads the same forward and backward).

In [99]:
list1  = [12,24,24,12]
revlist1 = list1.copy()
revlist1.reverse()


print("Palindrome" if list1 == revlist1 else "Not a palindrome")

Palindrome