 # Ashish Kumar - 240409

## Practice Assignment for all functions of Tuple

## Tuple - count,index

In [1]:
my_tuple=(1 ,1,3,"ashish",1,5,5,4.5)
print(type(my_tuple))
print("original tuple=", my_tuple)

count_1=my_tuple.count(1)
count_2=my_tuple.count(5)
print("occurrence of element 1,5 is",count_1,"and",count_2)

index_1=my_tuple.index("ashish")
index_2=my_tuple.index(1)
index_3=my_tuple.index(3)
print("index of element ashish ,1,3 is",index_1,",",index_2,"and",index_3)

<class 'tuple'>
original tuple= (1, 1, 3, 'ashish', 1, 5, 5, 4.5)
occurrence of element 1,5 is 3 and 2
index of element ashish ,1,3 is 3 , 0 and 2

### Tuple -len,min,max,sum,concatenation,repeat,slicing,nested tuple

In [2]:
my_tuple = (1, 3, 5, 2, 4, 7, 5, 3, 25, 36, 47, 59, 60)
print("original tuple =", my_tuple)

print("length of tuple =", len(my_tuple))
print("smallest element of tuple =", min(my_tuple))
print("largest element of tuple =", max(my_tuple))
print("sum of all elements of tuple =", sum(my_tuple))

my_tuple2 = (10, 20, 30)
print("tuple 2=",my_tuple2)
print("concatenated tuple =", my_tuple + my_tuple2)
print("repeated tuple =", my_tuple * 2)
print("tuple after slicing (2:6) =", my_tuple[2:6])

nested_tuple = (1, (2, 3), 4)
print("accessing nested tuple =", nested_tuple[1][1])

original tuple = (1, 3, 5, 2, 4, 7, 5, 3, 25, 36, 47, 59, 60)
length of tuple = 13
smallest element of tuple = 1
largest element of tuple = 60
sum of all elements of tuple = 257
tuple 2= (10, 20, 30)
concatenated tuple = (1, 3, 5, 2, 4, 7, 5, 3, 25, 36, 47, 59, 60, 10, 20, 30)
repeated tuple = (1, 3, 5, 2, 4, 7, 5, 3, 25, 36, 47, 59, 60, 1, 3, 5, 2, 4, 7, 5, 3, 25, 36, 47, 59, 60)
tuple after slicing (2:6) = (5, 2, 4, 7)
accessing nested tuple = 3